.explorer__content {
  font: 16px/1.5 Verdana,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  margin: 0 auto;
  padding: 0 22px;
  position: relative;
  text-align: left;
  max-width: 971px;

  &__result {
    clear: both;
  }

  &__result-item {
    &__addresses {
      ol {
        margin: 0;
        padding-left: 20px;
      }
      ul {
        list-style-type: none;
      }
    }
  }
}
